# INTRODUCCION A POLARS

In [ ]:
#LIBRERIAS
import polars as pl # Para manejo de dataframes
from datetime import datetime

In [ ]:
df_titanic = pl.read_csv('titanic.csv') #FUNCION PARECIDA A read_csv DE PANDAS
df_titanic.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [ ]:
#El método .tail() te permite ver las últimas $N$ filas de tu DataFrame (o LazyFrame). Es útil para 
# verificar si los datos se han cargado correctamente o si hay valores atípicos al final del conjunto.
df_titanic.tail()

#Te permite seleccionar una muestra aleatoria de filas de tu DataFrame (o LazyFrame).
df_titanic.sample(5)

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 435         ┆ 0        ┆ 1      ┆ Silvey, Mr.        ┆ … ┆ 13507    ┆ 55.9    ┆ E44   ┆ S        │
│             ┆          ┆        ┆ William Baird      ┆   ┆          ┆         ┆       ┆          │
│ 353         ┆ 0        ┆ 3      ┆ Elias, Mr. Tannous ┆ … ┆ 2695     ┆ 7.2292  ┆ null  ┆ C        │
│ 156         ┆ 0        ┆ 1      ┆ Williams, Mr.      ┆ … ┆ PC 17597 ┆ 61.3792 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Charles Duane      ┆   ┆          ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ STON/O2. ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina              ┆   ┆ 3101282  ┆         ┆       ┆          │
│ 283         ┆ 0        ┆ 3      ┆ de Pelsmaeker, Mr. ┆ … ┆ 345778   ┆ 9.5     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Alfons             ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

In [20]:
n_chars = 50

# df.columns
# ==============================================================================
print("="*n_chars)
print("df.columns: listado de columnas de un DataFrame")
print(df_titanic.columns)
print("")

# df.types
# ==============================================================================
print("="*n_chars)
print("df.types: tipos de datos de las columnas de un DataFrame")
print(df_titanic.dtypes)
print(f"Tipos de datos únicos: {set(df_titanic.dtypes)}")
print("")

# df.schema
# ==============================================================================
print("="*n_chars)
print("df.schema: Diccionario con las columnas y sus tipos de datos")
print(df_titanic.schema)
print("")

# df.shape
# ==============================================================================
print("="*n_chars)
print("df.shape : filas x columnas de un DataFrame")
print(df_titanic.shape)
print("")

# df.height
# ==============================================================================
print("="*n_chars)
print("df.height : número de filas de un DataFrame")
print(df_titanic.height)
print("")

# df.width
# ==============================================================================
print("="*n_chars)
print("df.width : número de columnas de un DataFrame")
print(df_titanic.width)
print("")

==================================================
df.columns: listado de columnas de un DataFrame
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

==================================================
df.types: tipos de datos de las columnas de un DataFrame
[Int64, Int64, Int64, String, String, Float64, Int64, Int64, String, Float64, String, String]
Tipos de datos únicos: {Int64, String, Float64}

==================================================
df.schema: Diccionario con las columnas y sus tipos de datos
Schema([('PassengerId', Int64), ('Survived', Int64), ('Pclass', Int64), ('Name', String), ('Sex', String), ('Age', Float64), ('SibSp', Int64), ('Parch', Int64), ('Ticket', String), ('Fare', Float64), ('Cabin', String), ('Embarked', String)])

==================================================
df.shape : filas x columnas de un DataFrame
(891, 12)

==================================================
df.height : número de filas de un DataFrame
891

==================================================
df.width : número de columnas de un DataFrame
12

In [21]:
#df.describe()
print("df.describe(): estadísticos descriptivos de las columnas numéricas")
display(df_titanic.describe())

df.describe(): estadísticos descriptivos de las columnas numéricas

shape: (9, 13)
┌────────────┬─────────────┬──────────┬──────────┬───┬───────────┬───────────┬───────┬──────────┐
│ statistic  ┆ PassengerId ┆ Survived ┆ Pclass   ┆ … ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆   ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ … ┆ 891       ┆ 891.0     ┆ 204   ┆ 889      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ … ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ … ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ … ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ … ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ 25%        ┆ 224.0       ┆ 0.0      ┆ 2.0      ┆ … ┆ null      ┆ 7.925     ┆ null  ┆ null     │
│ 50%        ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ … ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
│ 75%        ┆ 669.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 31.0      ┆ null  ┆ null     │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
└────────────┴─────────────┴──────────┴──────────┴───┴───────────┴───────────┴───────┴──────────┘

# Valores nulos

In [ ]:
#Devuelve un DataFrame con el total de valores nulos por columna.
#df.null_count()
print("df.null_count(): conteo de valores nulos por columna")
display(df_titanic.null_count())

df.null_count(): conteo de valores nulos por columna

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

# Polars expressions

In [ ]:
# .select(): Permite seleccionar columnas específicas de un DataFrame o LazyFrame.
df_titanic.select(pl.col("Age"), pl.col("Fare"))

shape: (891, 2)
┌──────┬─────────┐
│ Age  ┆ Fare    │
│ ---  ┆ ---     │
│ f64  ┆ f64     │
╞══════╪═════════╡
│ 22.0 ┆ 7.25    │
│ 38.0 ┆ 71.2833 │
│ 26.0 ┆ 7.925   │
│ 35.0 ┆ 53.1    │
│ 35.0 ┆ 8.05    │
│ …    ┆ …       │
│ 27.0 ┆ 13.0    │
│ 19.0 ┆ 30.0    │
│ null ┆ 23.45   │
│ 26.0 ┆ 30.0    │
│ 32.0 ┆ 7.75    │
└──────┴─────────┘

In [ ]:
#Por defecto, este método nos retorna un otro DataFrame (polars.internals.dataframe.frame.DataFrame)
type(df_titanic.select(pl.col("Age"), pl.col("Fare")))  # Devuelve un DataFrame

polars.dataframe.frame.DataFrame

In [32]:
# Selección de una única columna
# ==============================================================================
display(df_titanic.select("Age").head())

# Selección de múltiples columnas
# ==============================================================================
display(df_titanic.select(["Age","Fare"]).head())

shape: (5, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
│ 38.0 │
│ 26.0 │
│ 35.0 │
│ 35.0 │
└──────┘

shape: (5, 2)
┌──────┬─────────┐
│ Age  ┆ Fare    │
│ ---  ┆ ---     │
│ f64  ┆ f64     │
╞══════╪═════════╡
│ 22.0 ┆ 7.25    │
│ 38.0 ┆ 71.2833 │
│ 26.0 ┆ 7.925   │
│ 35.0 ┆ 53.1    │
│ 35.0 ┆ 8.05    │
└──────┴─────────┘

# Creando una secuencia de tarea